############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Generated
build
dist
nbproject/private/
/CartonajesMarcuelloWEB/nbproject/private/
/JSP/CartonajesMarcuelloWEB/nbproject/private/
/CartonajesMarcuelloWEB (JSP)/nbproject/private/
/CartonajesMarcuelloWEB (PHP)/nbproject/private/
/CartonajesMarcuelloWEB (HTML)/nbproject/private/