html {
    font-family: 'Helvetia', sans-serif;
    background-color: #d3d7cf;
}

body {
    width: 750px;
    margin: 25px auto;
    padding: 15px;
    background-color: white;
}

#containerHeader {
    overflow: hidden;
}

#logo {
    float: left;
}

#textoLogo {
    float: right;
}

.separador {
    color: #99FF00;
    border: 1px solid;
    margin: 5px 0px;
}

#containerMenu {
    overflow: hidden;
}

.menu {
    margin: auto;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color:#99FF00;
}

.menu ul {
    margin: auto;
}

.menu li {
    padding: 0px 10px 0px 10px ;
    list-style: none;
    display: inline;
}

#containerBody {
    overflow: hidden;
    margin: 15px 0px 0px 0px;
}

#fotoPortada {
    float: right;
}

#textoPortada {
    float: left;
    width: 230px;
    margin: 10px;
}

.textoPortada {
    padding: 30px 5px 0px 0px;
    text-align : justify;
}

#containerFooter {
    overflow: hidden;
}

.footer {
    font-size:70%;
    background-color: #99FF00;
    text-align: center;
}